
.highlight {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .bold {
    padding-left: 1rem;
    font-weight: 700;
  }
  .blue {
    background-color: #FFDDE4;
    color:brown;
  }
  .red {
    background-color: lightblue;
    color:brown;
  }
  .green {
    background-color: lightgreen;
    color:brown;
  }